<div>
  <todo-header
    titleName="{{ title }}"
    subtitleName="{{ subtitle }}"
  ></todo-header>
  <div>
    <input id="add-item" type="text" placeholder="Enter an item" #newItem (keyup.enter)="addItem(newItem.value); newItem.value = ''" />
    <span class="space-x-1"></span>
    <button id="reset-btn" class="rounded border border-solid border-gray-600 shadow-md p-2" type="button" (click)="reset()">Reset</button>
  </div>
  <ul id="todo-items" class="list-none">
    <li id="todo-item" *ngFor="let item of items">
      <todo-item [item]="item"></todo-item>
    </li>
  </ul>
</div>
